In [1]:
import pandas as pd
import numpy as np

# Reload example data from last assignment. 
names = ['George',
         'John',
         'Thomas',
         'James',
         'Andrew',
         'Martin',
         'William',
         'Zachary',
         'Millard',
         'Franklin']
purchases = pd.DataFrame(index=names)
purchases['country'] = ['US', 'CAN', 'CAN', 'US', 'CAN', 'US', 'US', 'US', 'CAN', 'US']
purchases['ad_views'] = [16, 42, 32, 13, 63, 19, 65, 23, 16, 77]
purchases['items_purchased'] = [2, 1, 0, 8, 0, 5, 7, 3, 0, 5]

A data frame is great in and of itself. As we've shown, it allows you to easily store data with clearly labeled rows and indexes. However, sometimes you just want to work with a subset of that data. For that you will want to either _select_ or _group_ data.

We've actually already introduced the most basic form of indexing, or *"selection"* with the bracketed selection of column names. Recall what we did before on our purchases data:

In [2]:
purchases['country']

George       US
John        CAN
Thomas      CAN
James        US
Andrew      CAN
Martin       US
William      US
Zachary      US
Millard     CAN
Franklin     US
Name: country, dtype: object

Which returns the data from the column named "country". However, for more sophisticated selection we will need to use the Pandas dataframe indexing methods.

## Basic Selects with `.loc` and `.iloc`

[`.loc`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html) is a selector that indexes over rows and columns. It selects over the row index first, then the column name (if included). [`.iloc`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html) does the same thing but over indices. For example, to select the row for `'George'` in our purchases data frame, we just pass the string `'George'` in to `purchases.loc` with bracket notation:

In [3]:
purchases.loc['George']

country            US
ad_views           16
items_purchased     2
Name: George, dtype: object

To select the column 'country' we would use:

In [4]:
purchases.loc[:, 'country']

George       US
John        CAN
Thomas      CAN
James        US
Andrew      CAN
Martin       US
William      US
Zachary      US
Millard     CAN
Franklin     US
Name: country, dtype: object

The `:` above works just like it would when slicing a list or string, and selects all rows from start to finish of the data frame.

Lastly to select George's country, we'd combine the two like this:

In [5]:
purchases.loc['George', 'country']

'US'

As we mentioned above, you can also do integer indexing, as done on lists, over both rows and columns using `.iloc`. For example:

In [6]:
purchases.iloc[1:3, 1]

John      42
Thomas    32
Name: ad_views, dtype: int64

Note we used the slicing syntax again above, this time starting with the second row and going up to, but not including, the fourth row, and then the second column (with the index not counting as a column).

## Conditional Selection

You can also use `.loc` for conditional selection, or selecting all the entries that meet a given criteria. This will use __lambda__, which is a construction that allows for defining anonymous, unnamed functions at runtime. We use the lambda function to create a condition on the row or column.

<div class="note">Note: We'll introduce the lambda syntax below but won't use it much in the prep course and won't go deeply into it here. If you're interested in learning more about using <code>lambda</code> to create anonymous functions see the terse <a href="https://docs.python.org/3.6/tutorial/controlflow.html#lambda-expressions">Python documentation tutorial section on lambda</a>, or this <a href="https://pythonconquerstheuniverse.wordpress.com/2011/08/29/lambda_tutorial/">more detailed tutorial</a>.</div>

Let's return once more to the purchases data frame. For our example, let's say we want all the columns for individuals who made more than one purchase. That ends up being a relatively simple line of code.

In [7]:
purchases.loc[lambda df: purchases['items_purchased'] > 1, :]

         country  ad_views  items_purchased
George        US        16                2
James         US        13                8
Martin        US        19                5
William       US        65                7
Zachary       US        23                3
Franklin      US        77                5

We are selecting rows, so the lambda is the first item in the brackets. We define the input `df` as it takes a data frame. Then we define the condition for which each row will be evaluated on. The `, :` is the same slicing syntax and means we want all columns using the same logic as above.

There is a simpler way to do this, using boolean logic, and it is also quite common.

In [8]:
purchases[purchases['items_purchased'] > 1]

         country  ad_views  items_purchased
George        US        16                2
James         US        13                8
Martin        US        19                5
William       US        65                7
Zachary       US        23                3
Franklin      US        77                5

This is a similar logic, but the lack of explicit indexing makes it slightly less robust. The first example with `.loc` using explicit indexing is more robust, but this latter [boolean indexing](http://pandas.pydata.org/pandas-docs/stable/indexing.html#boolean-indexing) may be more common and is easily readable. Choose your tradeoffs wisely.

## Groups

There's one last thing we'll introduce here, and that is grouping and aggregation. You can create groups in your data frame using the [`.groupby()`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html) method and passing in the column name. Let's try it.

If we wanted to group by the country of the site user, all we'd have to do is:

In [9]:
purchases.groupby('country')

But wait, when you run that line, it doesn't return your data any more. It returns a line that references a grouped object, but not the object.

That's because if we want it to return something we have to do something on those groups. There are several methods that you can use here. Some are built in like `.sum()` or `.count()`. For even greater possibilities you can use `.aggregate(numpy_function)`. Let's use this to find out which group has more page views and purchases.

In [10]:
purchases.groupby('country').aggregate(np.mean)

# Don't want to take the mean of all columns? Try this:
# purchases.groupby('country')['column_name'].mean()

         ad_views  items_purchased
country
CAN         38.25             0.25
US          35.50             5.00

Now you can see the mean of each column. Seems like Canadian visitors view slightly more ads per person but purchase far fewer items...

These are the fundamentals of selecting data inside a data frame. For a deep dive, see the [pandas documentation on Indexing and Selecting Data](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing).